# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
secrets.yaml
known_devices.yaml
google_calendars.yaml
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*
.uuid
.google.token

# Log files
home-assistant.log
ozw_log.txt
options.xml

# Ignore folders.
.storage
.vscode
.cloud
.google.token
tts
www/logo/
www/cam_captures/