homeassistant:
  # Name of this Home Assistant instance... I've tried to be original... ;)
  name: Home

  # Location required to calculate the time the sun rises and sets
  latitude: !secret zone_home_latitude
  longitude: !secret zone_home_longitude

  # metric for Metric, imperial for Imperial
  unit_system: metric

  # Pick yours from here:
  # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Amsterdam

  # Load packages
  packages: !include_dir_named integrations

#HACS wont work when its split up outside the config file
hacs:
  token: !secret hacs_token
