####set theme###
- id: Set theme at startup
  alias: Set theme at startup
  initial_state: 'on'
  trigger:
  - platform: homeassistant
    event: start
  action:
   service: frontend.set_theme
   data:
    name: dark

- id: NotifyTimoHome
  alias: NotifyTimoHome
  initial_state: 'on'
  trigger:
  - platform: zone
    event: enter
    zone: zone.Home
    entity_id: device_tracker.ce0417142b50872202
    # Optional
    #from: 'away'
    # Optional
    #to: 'Home'
  action:
    - service: telegram_bot.send_message
      data_template:
        #title: 'Presence detection'
        target: !secret telegram_Timo_id
        message: 'Timo is Home'
        disable_notification: false

- id: NotifyTimoWork
  alias: NotifyTimoWork
  initial_state: 'on'
  trigger:
  - platform: state
    entity_id: device_tracker.ce0417142b50872202
    # Optional
    from: 'away'
    to: 'work'
  action:
    - service: telegram_bot.send_message
      data_template:
        #title: 'Presence detection'
        target: !secret telegram_Timo_id
        message: 'Timo is at Work'
        disable_notification: false     
        
- id: DaanCommingHome
  alias: DaanCommingHome
  initial_state: 'on'
  trigger:
  - platform: numeric_state
    entity_id: proximity.home
    below: 2500
  condition:
    condition: and
    conditions:
      - condition: template
        value_template: '{{ states.proximity.home.attributes.dir_of_travel == "towards"  }}'
  action:
    - service: telegram_bot.send_message
      data_template:
        #title: 'Presence detection'
        target: !secret telegram_Timo_id
        message: 'Daan is comming Home'
        disable_notification: false   

- id: 'NotifyTimoDaanHome'
  alias: Danielle Home
  initial_state: 'on'
  trigger:
  - platform: zone
    event: enter
    zone: zone.Home
    entity_id: device_tracker.ce11171b6d4c1f1b04
  action:
    - service: telegram_bot.send_message
      data_template:
        #title: 'Presence detection'
        target: !secret telegram_Timo_id
        message: 'Danielle is Home'
        disable_notification: false

- id: NotifyDaanAwayFromPaard
  alias: NotifyDaanAwayFromPaard
  initial_state: 'on'
  trigger:
  - platform: zone
    entity_id: device_tracker.ce11171b6d4c1f1b04
    # Optional
    zone: zone.Manege
    event: leave
  action:
    - service: telegram_bot.send_message
      data_template:
        #title: 'Presence detection'
        target: !secret telegram_Timo_id
        message: 'Daan is leaving the Manege'
        disable_notification: false  

- id: NotifyDaanAwayFromWork
  alias: NotifyDaanAwayFromWork
  initial_state: 'on'
  trigger:
  - platform: zone
    entity_id: device_tracker.ce11171b6d4c1f1b04
    # Optional
    zone: zone.minddistrict
    event: leave
    #from: 'Minddistrict'
    #to: 'not_home'
  action:
    - service: telegram_bot.send_message
      data_template:
        #title: 'Presence detection'
        target: !secret telegram_Timo_id
        message: 'Daan is leaving Minddistrict'
        disable_notification: false  

- id: TurnLightsOn
  alias: TurnLightsOn
  initial_state: 'on'
  trigger:
  - event: sunset
    offset: '-0:30:00'
    platform: sun
  condition:
  - condition: state
    entity_id: group.family
    state: 'home'
  action:
  - data:
      entity_id: group.woonkamer
    entity_id: group.woonkamer
    service: switch.turn_on
  - data:
      entity_id: group.keuken
    entity_id: group.keuken
    service: light.turn_on

- id: displayautmationslighttoggle
  alias: Display Automations (Info button - Toggle UI)
  initial_state: 'on'
  trigger:
    - platform: state
      entity_id: input_boolean.gui_toggle_buttoninfo
      to: 'on'
    - platform: state
      entity_id: input_boolean.gui_toggle_buttoninfo
      to: 'off'
  action:
    - service: group.set_visibility
      data_template:
        entity_id: group.button_info
        visible: "{{not(is_state('input_boolean.gui_toggle_buttoninfo','on'))}}"

- id: TurnLightsOoffAfter2300
  alias: TurnLightsOoffAfter2300
  initial_state: 'on'
  trigger:
    - platform: time
      at: '23:00:00'
  condition:
    condition: and
    conditions: 
      - condition: or
        conditions:
          - condition: state
            entity_id: sensor.fibaro_system_fgms001zw5_motion_sensor_burglar
            state: '254'
            for:
              minutes: 90
          - condition: state
            entity_id: sensor.fibaro_system_fgms001zw5_motion_sensor_burglar
            state: '0'
            for:
              minutes: 90
      - condition: or
        conditions:
          - condition: state
            entity_id: group.woonkamer
            state: 'on'
          - condition: state
            entity_id: group.keuken
            state: 'on'
  action:
  - data:
      entity_id: group.woonkamer
    entity_id: group.woonkamer
    service: switch.turn_off
  - data:
      entity_id: group.keuken
    entity_id: group.keuken
    service: light.turn_off
  - service: telegram_bot.send_message
    data_template:
      target: !secret telegram_Timo_id
      message: 'Lichten vergeten vannacht om 23:00 uur'
      disable_notification: false

- id: TurnLightsOoffAfterNoMovement
  alias: TurnLightsOoffAfterNoMovement
  initial_state: 'on'
  trigger:
    - platform: state
      entity_id: sensor.fibaro_system_fgms001zw5_motion_sensor_burglar
      to: '0'
      for:
        minutes: 90
  condition:
    condition: and
    conditions: 
      - condition: time
        after: '23:00:00'
        before: '06:00:00'
      - condition: or
        conditions:
          - condition: state
            entity_id: group.woonkamer
            state: 'on'
          - condition: state
            entity_id: group.keuken
            state: 'on'
  action:
  - data:
      entity_id: group.woonkamer
    entity_id: group.woonkamer
    service: switch.turn_off
  - data:
      entity_id: group.keuken
    entity_id: group.keuken
    service: light.turn_off
  - service: telegram_bot.send_message
    data_template:
      target: !secret telegram_Timo_id
      message: 'Lichten vergeten vannacht na 23:00 NoMovement'
      disable_notification: false

- id: displayautmationsbrforecasetoggle
  alias: Display Automations (Info forecast button - Toggle UI)
  initial_state: 'on'
  trigger:
    - platform: state
      entity_id: input_boolean.gui_toggle_buttonforecast_br
      to: 'on'
    - platform: state
      entity_id: input_boolean.gui_toggle_buttonforecast_br
      to: 'off'
  action:
    - service: group.set_visibility
      data_template:
        entity_id: group.forecast_info
        visible: "{{not(is_state('input_boolean.gui_toggle_buttonforecast_br','on'))}}"